@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$bg-color-1: #ff4c68;
$bg-color-2: #ef8172;
$feature-detail-color: #8f8f8f;
$main-font-family: "Montserrat", sans-serif;
$title-font-family: "Ubuntu", sans-serif;
