@import "./variables";

// ----------------------------------------------------------------------------------------------------------
// General

body {
    font-family: $main-font-family;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
}

button {
    // font-family: $title-font-family;
}

// ----------------------------------------------------------------------------------------------------------
// Title

#title {
    background-color: $bg-color-1;

    button {
        @extend button;
        margin-top: 20px;
        margin: 5% 3% 5% 0;
    }
}

// ----------------------------------------------------------------------------------------------------------
// Navigation  Bar

.navbar {
    padding-bottom: 4.5rem;
    padding-top: 0;
}

.navbar-brand {
    font-family: $title-font-family;
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 18px;
}

// ----------------------------------------------------------------------------------------------------------
// Hero Image

.container-fluid {
    padding: 3% 15%;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
}

// ----------------------------------------------------------------------------------------------------------
// Features

#features {
    // padding: 7% 15%;
    i {
        color: $bg-color-2;
        font-size: 4rem;

        &:hover {
            color: $bg-color-1;
        }
    }

    p {
        color: $feature-detail-color;
    }

    .row {
        padding-top: 80px;
    }

    .col {
        align-items: center;
        padding: 0 4% 70px 4%;
    }
}

// ----------------------------------------------------------------------------------------------------------
// Testimonials

#testimonials {
    background-color: $bg-color-2;
    padding: 7% 15%;
    text-align: center;
    color: white;

    img {
        width: 100px;
        border-radius: 50%;
        margin: 20px;
    }

    button {
        // width: 20px;
    }
}

.carousel-icon {
    font-size: 5rem;
}

// ----------------------------------------------------------------------------------------------------------
// Press

#press {
    background-color: $bg-color-2;
    text-align: center;
    padding-bottom: 3%;

    img {
        width: 15%;
        margin: 20px 20px 50px;
    }
}
